{% extends 'base.html' %}
{% load i18n %}

{% block css %}
{% endblock %}

{% block jira-menu %}active{% endblock %}

{% block title %}{% trans 'Jira' %} - {% endblock %}

{% block js %}
{% endblock %}


{% block content %}
    <div class="">
          <div class="well">
                <span><a href="https://neoncrm.atlassian.net/browse/{{ jira.id }}" target="_blank">{{ jira.id }}</a></span>
                <p>Author:{% for author in jira.authors %} {{ author }} {% if not forloop.last %} | {% endif %} {% endfor %} </p>
                <p>First update: {{ jira.firstUpdate|date:"Y-m-d H:i:s" }}
                Last update: {{ jira.lastUpdate|date:"Y-m-d H:i:s" }}</p>
                <p>Files: </p>
                <blockquote>{% for file in jira.files %}{{ file }}<br/>{% endfor %}
                </blockquote>

            </tr>
           </div>
    </div>
{% endblock %}