{% extends 'base.html' %}
{% load i18n %}
{% load cvs_extras %}

{% block css %}
{% endblock %}

{% block jira10-menu %}active{% endblock %}

{% block title %}{% trans 'Last 10 Jira' %} - {% endblock %}

{% block js %}
{% endblock %}


{% block content %}
    <div class="">
    {% for jira in jiraList %}
          <div class="well">
                <span><a href="https://neoncrm.atlassian.net/browse/{{ jira.id }}" target="_blank">{{ jira.id }}</a></span>
                <p>Author: {{ jira.author|cvsauthor:engineer_map }} </p>
                <p>First update: {{ jira.firstUpdate|date:"Y-m-d H:i:s" }}</p>
                <p>Last update: {{ jira.lastUpdate|date:"Y-m-d H:i:s" }}</p>
                <p>Files: </p>
                <blockquote>{% for file in jira.files %}{{ file }}<br/>{% endfor %}
                </blockquote>

            </tr>
           </div>
    {% endfor %}
    </div>
{% endblock %}